{extend name='public/_container'}
{block name="content"}
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row" id="searchGroup">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">关键字</button>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control" id="keywords" placeholder="账号/昵称/邮箱/QQ"/>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">状态</button>
                                    </div>
                                    <select class="form-control chosen" id="status">
                                        <option value="">请选择</option>
                                        <option value="1">正常</option>
                                        <option value="0">禁用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-success" onclick="TableList.search()">
                                    <i class="fa fa-search"></i>&nbsp;搜索
                                </button>
                            </div>
                        </div>
                        <div class="btn-group-sm pull-left" id="TableToolbar" role="group" style="margin-top: 15px;">
                            {if condition="$is_super_admin == 1 || in_array('admin/member/account/delete', $admin_rule)"}
                            <button type="button" id="delete" class="btn btn-danger button-margin" onclick="TableList.delete()">
                                <i class="fa fa-trash"></i>&nbsp;删除
                            </button>
                            {/if}
                        </div>
                        <table id="TableList" data-mobile-responsive="true" data-click-to-select="true">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/admin/js/common/listCom.js" charset="utf-8"></script>
<script>
    var TableList = {id: "TableList", seItem: null, table: null, layerIndex: -1};

    TableList.initColumn = function () {
        return [
            {field: 'selectItem', checkbox: true},
            {title: 'UUID', field: 'uuid', visible: true, align: 'center', valign: 'middle'},
            {title: '账号', field: 'account', visible: true, align: 'center', valign: 'middle'},
            {title: '昵称', field: 'nickname', visible: true, align: 'center', valign: 'middle'},
            {title: '邮箱', field: 'email', visible: true, align: 'center', valign: 'middle'},
            {title: 'QQ号', field: 'qq_number', visible: true, align: 'center', valign: 'middle'},
            {title: 'MBTI', field: 'mbti_type', visible: true, align: 'center', valign: 'middle'},
            {title: '称号', field: 'call_title', visible: true, align: 'center', valign: 'middle'},
            {title: '琥珀余额', field: 'hope_amount', visible: true, align: 'center', valign: 'middle'},
            {title: '状态', field: 'status', visible: true, align: 'center', valign: 'middle', formatter: TableList.statusFormatter},
            {title: '注册时间', field: 'create_time', visible: true, align: 'center', valign: 'middle'},
            {title: '操作', field: '', visible: true, align: 'center', valign: 'middle', formatter: TableList.buttonFormatter},
        ];
    };

    TableList.statusFormatter = function (value, row, index) {
        var str = '';
        {if condition="$is_super_admin == 1 || in_array('admin/member/account/status', $admin_rule)"}
        str += listCom.switchBtn(row.uuid, 'status', value, "{:url('admin/member/account/status')}", 'uuid')
        {/if}
        return str;
    };

    TableList.buttonFormatter = function (value, row, index) {
        var str = '';
        {if condition="$is_super_admin == 1 || in_array('admin/member/account/update', $admin_rule)"}
        str += '<button type="button" class="btn btn-success btn-xs" onclick="TableList.update(\'' + row.uuid + '\')"><i class="fa fa-pencil"></i>&nbsp;编辑</button>&nbsp;';
        {/if}
        {if condition="$is_super_admin == 1 || in_array('admin/member/account/password', $admin_rule)"}
        str += '<button type="button" class="btn btn-warning btn-xs" onclick="TableList.password(\'' + row.uuid + '\')"><i class="fa fa-lock"></i>&nbsp;修改密码</button>&nbsp;';
        {/if}
        {if condition="$is_super_admin == 1 || in_array('admin/member/account/delete', $admin_rule)"}
        str += '<button type="button" class="btn btn-danger btn-xs" onclick="TableList.delete(\'' + row.uuid + '\')"><i class="fa fa-trash"></i>&nbsp;删除</button>';
        {/if}
        return str;
    };

    TableList.formParams = function () {
        var queryData = {};
        queryData['keywords'] = $("#keywords").val();
        queryData['status']   = $("#status").val();
        return queryData;
    };

    TableList.update = function (value) {
        var index = layer.open({
            type: 2,
            title: '编辑账号',
            area: ['760px', '80%'],
            fix: true,
            content: "{:url('admin/member/account/update')}?uuid=" + value
        });
    };

    TableList.password = function (value) {
        layer.prompt({title: '请输入新密码', formType: 1}, function(pass, index){
            $.ajax({
                url: "{:url('admin/member/account/password')}",
                type: 'POST',
                data: {uuid: value, password: pass},
                dataType: 'json',
                success: function(res){
                    if (res.status === 200) { layer.msg(res.msg, {icon: 1}); }
                    else { layer.msg(res.msg, {icon: 2}); }
                }
            });
            layer.close(index);
        });
    };

    TableList.delete = function (value) {
        var ids = value ? value : '';
        if (!ids) {
            var selected = $('#TableList').bootstrapTable('getSelections');
            if (selected.length === 0) {
                layer.msg('请先选中表格中的记录！', {icon: 2});
                return;
            }
            ids = selected.map(function(item){ return item.uuid; }).join(',');
        }
        layer.confirm('确定要删除选中的记录吗？', function(index){
            $.ajax({
                url: "{:url('admin/member/account/delete')}",
                type: 'POST',
                data: {uuid: ids},
                dataType: 'json',
                success: function(res){
                    if (res.status === 200) { layer.msg(res.msg, {icon: 1}); TableList.table.refresh(); }
                    else { layer.msg(res.msg, {icon: 2}); }
                }
            });
            layer.close(index);
        });
    };

    TableList.search = function () {
        TableList.table.refresh({query: TableList.formParams()});
    };

    $(function () {
        var table = new BSTable(TableList.id, "{:url('admin/member/account/index')}" + location.search, TableList.initColumn());
        table.setQueryParams(TableList.formParams());
        TableList.table = table.init();
    });
</script>
{/block}
