{extend name='public/_container'}
{block name="content"}
<div class="row">
    <form class="form-horizontal" id="doSubmit">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">登录账号：</label>
                        <div class="col-sm-9">
                            <input type="text" autocomplete="off" value="{$info.account|default=''}" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮箱：</label>
                        <div class="col-sm-9">
                            <input type="text" autocomplete="off" value="{$info.email|default=''}" class="form-control" readonly>
                            <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 邮箱需由用户通过验证码流程更换，后台不可直接修改</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">昵称：</label>
                        <div class="col-sm-9">
                            <input type="text" autocomplete="off" id="nickname" value="{$info.nickname|default=''}" name="nickname" class="form-control" placeholder="请输入昵称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">QQ号：</label>
                        <div class="col-sm-9">
                            <input type="text" autocomplete="off" id="qq_number" value="{$info.qq_number|default=''}" name="qq_number" class="form-control" placeholder="请输入QQ号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">头像：</label>
                        <div class="col-sm-9">
                            <input type="text" autocomplete="off" id="avatar" value="{$info.avatar|default=''}" name="avatar" class="form-control" placeholder="头像地址">
                            <span class="help-block m-b-none">
                                <button type="button" class="btn btn-primary btn-sm" onclick="InfoDlg.uploadImage('avatar', '上传头像')">
                                    <i class="fa fa-upload"></i> 上传头像
                                </button>
                            </span>
                            {notempty name="$info.avatar"}
                            <div style="margin-top:8px;"><img src="{$info.avatar}" style="max-width:100px;max-height:100px;border:1px solid #ddd;padding:2px;"></div>
                            {/notempty}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">MBTI人格：</label>
                        <div class="col-sm-9">
                            <input type="text" autocomplete="off" id="mbti_type" value="{$info.mbti_type|default=''}" name="mbti_type" class="form-control" placeholder="如 INTJ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">佩带称号：</label>
                        <div class="col-sm-9">
                            <select name="call_id" class="form-control chosen" id="call_id">
                                <option value="0">无</option>
                                {foreach $call_list as $item}
                                    <option value="{$item.id}" {if condition="(int)$info.call_id === (int)$item.id"}selected{/if}>{$item.title}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row btn-group-m-t">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary" onclick="InfoDlg.submit()" id="ensure">
                                <i class="fa fa-check"></i>&nbsp;确认提交
                            </button>
                            <button type="button" class="btn btn-danger" onclick="InfoDlg.close()" id="cancel"
                                    style="margin-left: 20px">
                                <i class="fa fa-remove"></i>&nbsp;取消关闭
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/static/admin/js/common/formCom.js" charset="utf-8"></script>
<script type="text/javascript">

    InfoDlg.collectData = function () {
        this.set('nickname').set('qq_number').set('avatar').set('mbti_type').set('call_id');
    }

    InfoDlg.Validate = function () {
        if ($('#nickname').val() === '') {
            com.error('请输入昵称');
            return false;
        }
        return true;
    }

    InfoDlg.submit = function () {
        this.ajaxSubmit("{:url('admin/member/account/update',['uuid'=>$uuid])}");
    };

</script>

{/block}
