{extend name='public/_container'}
{block name="content"}
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row" id="searchGroup">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">关键字</button>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control" id="keywords" placeholder="称号名称"/>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">会员UUID</button>
                                    </div>
                                    <input type="text" autocomplete="off" class="form-control" id="uuid" placeholder="输入会员UUID"/>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">权限</button>
                                    </div>
                                    <select class="form-control chosen" id="role">
                                        <option value="">全部权限</option>
                                        <option value="common">普通</option>
                                        <option value="admin">管理员</option>
                                        <option value="viewer">观察者</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">状态</button>
                                    </div>
                                    <select class="form-control chosen" id="status">
                                        <option value="">请选择</option>
                                        <option value="1">开启</option>
                                        <option value="0">关闭</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-success" onclick="TableList.search()">
                                    <i class="fa fa-search"></i>&nbsp;搜索
                                </button>
                            </div>
                        </div>
                        <div class="btn-group-sm pull-left" id="TableToolbar" role="group" style="margin-top: 15px;">
                            {if condition="$is_super_admin == 1 || in_array('admin/member/call/update', $admin_rule)"}
                            <button type="button" id="create" class="btn btn-primary button-margin" onclick="TableList.update(0)">
                                <i class="fa fa-plus"></i>&nbsp;添加
                            </button>
                            {/if}
                            {if condition="$is_super_admin == 1 || in_array('admin/member/call/delete', $admin_rule)"}
                            <button type="button" id="delete" class="btn btn-danger button-margin" onclick="TableList.delete()">
                                <i class="fa fa-trash"></i>&nbsp;删除
                            </button>
                            {/if}
                        </div>
                        <table id="TableList" data-mobile-responsive="true" data-click-to-select="true">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/admin/js/common/listCom.js" charset="utf-8"></script>
<script>
    var TableList = {id: "TableList", seItem: null, table: null, layerIndex: -1};

    TableList.initColumn = function () {
        return [
            {field: 'selectItem', checkbox: true},
            {title: '编号', field: 'id', visible: true, align: 'center', valign: 'middle'},
            {title: '会员UUID', field: 'uuid', visible: true, align: 'center', valign: 'middle'},
            {title: '归属会员', field: 'nickname', visible: true, align: 'center', valign: 'middle'},
            {title: '称号名称', field: 'title', visible: true, align: 'center', valign: 'middle'},
            {title: '颜色', field: 'color', visible: true, align: 'center', valign: 'middle', formatter: TableList.colorFormatter},
            {title: '权限', field: 'role_text', visible: true, align: 'center', valign: 'middle'},
            {title: '状态', field: 'status', visible: true, align: 'center', valign: 'middle', formatter: TableList.statusFormatter},
            {title: '创建时间', field: 'create_time', visible: true, align: 'center', valign: 'middle'},
            {title: '操作', field: '', visible: true, align: 'center', valign: 'middle', formatter: TableList.buttonFormatter},
        ];
    };

    TableList.colorFormatter = function (value, row, index) {
        if (!value) return '';
        return '<span style="display:inline-block;width:16px;height:16px;border:1px solid #ddd;vertical-align:middle;background:' + value + '"></span> ' + value;
    };

    TableList.statusFormatter = function (value, row, index) {
        var str = '';
        {if condition="$is_super_admin == 1 || in_array('admin/member/call/status', $admin_rule)"}
        str += listCom.switchBtn(row.id, 'status', value, "{:url('admin/member/call/status')}")
        {/if}
        return str;
    };

    TableList.buttonFormatter = function (value, row, index) {
        var str = '';
        {if condition="$is_super_admin == 1 || in_array('admin/member/call/update', $admin_rule)"}
        str += '<button type="button" class="btn btn-success btn-xs" onclick="TableList.update(' + row.id + ')"><i class="fa fa-pencil"></i>&nbsp;编辑</button>&nbsp;';
        {/if}
        {if condition="$is_super_admin == 1 || in_array('admin/member/call/delete', $admin_rule)"}
        str += '<button type="button" class="btn btn-danger btn-xs" onclick="TableList.delete(' + row.id + ')"><i class="fa fa-trash"></i>&nbsp;删除</button>';
        {/if}
        return str;
    };

    TableList.formParams = function () {
        var queryData = {};
        queryData['keywords'] = $("#keywords").val();
        queryData['uuid']     = $("#uuid").val();
        queryData['role']     = $("#role").val();
        queryData['status']   = $("#status").val();
        return queryData;
    };

    TableList.update = function (value) {
        var index = layer.open({
            type: 2,
            title: value > 0 ? '编辑称号' : '添加称号',
            area: ['720px', '620px'],
            fix: true,
            content: "{:url('admin/member/call/update')}?id=" + value
        });
    };

    TableList.delete = function (value) {
        var ids = value ? value : '';
        if (!ids) {
            var selected = $('#TableList').bootstrapTable('getSelections');
            if (selected.length === 0) {
                layer.msg('请先选中表格中的记录！', {icon: 2});
                return;
            }
            ids = selected.map(function(item){ return item.id; }).join(',');
        }
        layer.confirm('确定要删除选中的记录吗？', function(index){
            $.ajax({
                url: "{:url('admin/member/call/delete')}",
                type: 'POST',
                data: {id: ids},
                dataType: 'json',
                success: function(res){
                    if (res.status === 200) { layer.msg(res.msg, {icon: 1}); TableList.table.refresh(); }
                    else { layer.msg(res.msg, {icon: 2}); }
                }
            });
            layer.close(index);
        });
    };

    TableList.search = function () {
        TableList.table.refresh({query: TableList.formParams()});
    };

    $(function () {
        var table = new BSTable(TableList.id, "{:url('admin/member/call/index')}" + location.search, TableList.initColumn());
        table.setQueryParams(TableList.formParams());
        TableList.table = table.init();
    });
</script>
{/block}
