{extend name='public/_container'}
{block name="content"}
<div class="row">
    <form class="form-horizontal" id="doSubmit">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">位置：</label>
                        <div class="col-sm-9">
                            <select name="position" class="form-control chosen" id="position">
                                {foreach $position_list as $key => $item}
                                    <option value="{$key}" {if condition="$info.position == $key"}selected{/if}>{$item}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题：</label>
                        <div class="col-sm-9">
                            <input type="text" autocomplete="off" id="title" value="{$info.title|default=''}" name="title" class="form-control" placeholder="请输入标题">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">关键字：</label>
                        <div class="col-sm-9">
                            <input type="text" autocomplete="off" id="keyword" value="{$info.keyword|default=''}" name="keyword" class="form-control" placeholder="请输入关键字，多个用逗号分隔">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">内容：</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="detaill" name="detaill" rows="10" placeholder="请输入内容">{$info.detaill|default=''}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">发布时间：</label>
                        <div class="col-sm-4">
                            <input type="text" autocomplete="off" id="publish_time" value="{$info.publish_time|default=''}" name="publish_time" class="form-control laydatetime" placeholder="请选择时间">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态：</label>
                        <div class="col-sm-9">
                            <select name="status" class="form-control chosen" id="status">
                                <option value="1" {if condition="(int)$info.status === 1"}selected{else/}selected{/if}>正常</option>
                                <option value="0" {if condition="(int)$info.status === 0"}selected{/if}>隐藏</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row btn-group-m-t">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary" onclick="InfoDlg.submit()" id="ensure">
                                <i class="fa fa-check"></i>&nbsp;确认提交
                            </button>
                            <button type="button" class="btn btn-danger" onclick="InfoDlg.close()" id="cancel"
                                    style="margin-left: 20px">
                                <i class="fa fa-remove"></i>&nbsp;取消关闭
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/static/admin/js/common/formCom.js" charset="utf-8"></script>
<script type="text/javascript">

    InfoDlg.collectData = function () {
        this.set('position').set('title').set('keyword').set('detaill').set('status').set('publish_time');
    }

    InfoDlg.Validate = function () {
        if ($('#title').val() === '') {
            com.error('请输入标题');
            return false;
        }
        return true;
    }

    InfoDlg.submit = function () {
        this.ajaxSubmit("{:url('admin/content/article/update',['id'=>$id])}");
    };

    InfoDlg.close = function () {
        parent.layer.close(parent.layer.getFrameIndex(window.name));
    };


</script>

{/block}
